<div class="main">
  <header class="title">
    <i class="pi pi-user" style="font-size: 7rem; color: rgb(226, 226, 230);"></i>
  </header>
  <div class="form">
    <span class="form-title">
      <h2>Login</h2>
    </span>

    <div  class="inputs-group">

      <form [formGroup]="formulario">
        <span>
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Digite Seu Email" id="email" formControlName="email">
          </mat-form-field>
        </span>

        <span>
         <mat-form-field class="full-width">
           <mat-label>Senha</mat-label>
           <input  type="password" matInput placeholder="Senha" id="senha" formControlName="senha">
         </mat-form-field>
       </span>

     </form>
    </div>

    <span class="btn-group">
      <button id="btn-logar" (click)="logar()" class="button"mat-raised-button>
        <i class="pi pi-lock-open " style="color: rgb(255, 255, 255);"></i>
        Logar
      </button>
    </span>

  </div>

</div>
